html {
  background: black;
}

body .container {
	color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
	padding: 2rem;
	margin: 1.5rem;
	text-align: center;
}

h1 {
	font-size: 3rem;
	text-transform: uppercase;
}

a {
	color: red;
	text-decoration: none;
}

#output {
	font-size: 3rem;
	font-weight: bold;
	margin-top: 2rem;
	margin-bottom: 2.5rem;
}

#disclaimer {
	font-size:.5rem;
}

.btn {
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1.2rem;
	background: #4d4d4d;
	border: none;
	border-radius: 6px;
	transition: background 0.25s
}

.btn:hover{
	background: darkred;
}
