html {
  background-color: #202020
}

.logo {
  margin: auto;
  padding-top: 10%;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.svg {
  display: block;
  margin: auto;
  height: auto;
  width: 25%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.subtitle {
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
  color: #FEFEFE;
  text-align: center;
  margin-top: 5%;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #FEFEFE;
  letter-spacing: 0;
  line-height: 10px;
}

.byline {
  /* by Simon Boas: */
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #AFACAB;
  letter-spacing: 0;
  text-align: center;
}

.icon-group {
  margin: auto;
}

.icon-group figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 10%;
  padding-top: 3%;
}

.icon-group p {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  color: #FEFEFE;
  text-align: center;
  margin: auto;
  padding-bottom: 5%;
  padding-left: 10px;
  padding-right: 10px;
}

.stat {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #AFACAB;
  letter-spacing: 0;
  text-align: center;
  margin-top: 0%;
  padding-left: 15%;
  padding-right: 15%;
}

hr {
  display: block;
  height: 1px;
  width: 70%;
  border: 0;
  border-top: 1px solid #F04C82;
  margin: auto;
}

.credit {
  font-style: italic;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}